.navbar-light .navbar-nav .nav-link{
    text-transform: capitalize;
    color: rgba(255,255,255,255);
}
.navbar .icone{

    color:#fff;
    padding-right: 25px;
    border-right: 1px solid rgba(255,255,255,0.1);
    font-size: 25px;
}
.navbar .icone:after{
    background-color:#717fe0;
    color: #fff;
    position: absolute;
    top: 9px;
    right: 67px;
    text-align: center;
    font-size: 12px;
    width: 15px;
    line-height: 15px;
    height: 15px;
    content: "2";
}
